2dx_image_test/2dx_defocus_positions.txt
2dx_image_test/2dx_defocus_select_positions.txt
2dx_image_test/2dx_lencalc-doc.tmp
2dx_image_test/2dx_origtiltk-console.log
2dx_image_test/2dx_origtiltk-reflections.log
2dx_image_test/2dx_peaksearch-amp_before_LHpass.mrc
2dx_image_test/2dx_tiltgeom.out
2dx_image_test/2dx_tiltgeom2.out
2dx_image_test/APH/
2dx_image_test/CUT/
2dx_image_test/FFTIR/
2dx_image_test/History.dat
2dx_image_test/LOGS/
2dx_image_test/ManualMasking-CCmap.mrc
2dx_image_test/ManualMasking-UnbendPlot.mrc
2dx_image_test/PS/
2dx_image_test/SCRATCH/
2dx_image_test/TMP.2dx_deftilt.good.out.txt
2dx_image_test/auto_1-p1.mrc
2dx_image_test/auto_1-profile.dat.gz
2dx_image_test/auto_1-unitcells-spider.doc
2dx_image_test/auto_1.mtz
2dx_image_test/auto_1.raw.mrc
2dx_image_test/auto_1.spt
2dx_image_test/auto_1.spt.bak
2dx_image_test/auto_1_phase_zero-p1.mrc
2dx_image_test/auto_1_phase_zero.mtz
2dx_image_test/avrg.hk
2dx_image_test/avrg.hkl
2dx_image_test/centric.hk
2dx_image_test/centric.hkl
2dx_image_test/centric_phase_zero.hkl
2dx_image_test/final_map.mrc
2dx_image_test/final_map_FouFilter.mrc
2dx_image_test/mtzdump.txt
2dx_image_test/peaks_xy.dat
2dx_image_test/peaks_xy_final.dat
2dx_image_test/proc/

